.auth-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* This makes it fill the space */
  min-height: 80vh;
}

.auth-page-container h1 {
  font-size: 2.5em;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 30px;
}

.auth-container {
  display: flex;
  gap: 40px;
  background-color: #2a2a2a;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  border: 1px solid #444;
}